.cyber-assistant-app{
    position: relative;
    font-size: 1.3rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.cyber-assistant-app__work-space-navigation-panel{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.08);
    z-index: 10001;
    border: 0.1rem solid #e7e7e7;
    height: 13rem;
}

.cyber-assistant-app__work-space-content{
    padding-top: 15rem;
}
