.task-view-screen{
    padding: 3rem 1rem 0 1rem;
}

.task-view-screen__table{
    box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.14), 0 0.3rem 0.1rem -0.2rem rgba(0, 0, 0, 0.12);
}

.task-view-screen__no-tasks-text{
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}

/*
* Более детальные селекторы нужны, чтобы переопределить стили react-tables
*/

.task-view-screen .task-view-screen__table .task-view-screen__table-head{
    overflow-x: hidden;
    overflow-y: scroll;
}

.task-view-screen .task-view-screen__table .task-view-screen__table-body{
    overflow-x: hidden;
    overflow-y: scroll;
}

.task-view-screen .task-view-screen__table .task-view-screen__table-column-header{
    padding: 1rem;
    font-size: 1.6rem;
    white-space: normal
}

.task-view-screen .task-view-screen__table .task-view-screen__table-column-cell{
    padding: 1rem;
    font-size: 1.4rem;
    white-space: normal
}

.task-view-screen .task-view-screen__table .task-view-screen__table-row-group{
    flex: 0 0 auto;
}