.new-settings-owner-selects{
    display: flex;
    margin-bottom: 5rem;
}

.new-settings-owner-selects__department-select{
    margin-right: 2rem;
}

.new-settings-owner-selects__department-select,
.new-settings-owner-selects__equipment-class-select{
    flex: 1 0 auto;
}