.admin-settings-screen{
    padding: 5rem 10rem;
    text-transform: uppercase;
}

.admin-settings-screen button{
    font-size: inherit;
}

.admin-settings-screen__app-is-not-initialized-info{
    font-size: 2rem;
}