.tasks-types-settings-group{
    margin-bottom: 3rem;
}

.tasks-types-settings-group__title{
    font-size: 1.4rem;
}

.tasks-types-settings-group__checkboxes-row{
    padding: 3rem;
}

.tasks-types-settings-group .tasks-types-settings-group__tasks-type-checkbox-form-control{
    margin-right: 5rem;
}

.tasks-types-settings-group__tasks-type-checkbox-form-control--disabled{
    pointer-events: none;
}

.tasks-types-settings-group .tasks-types-settings-group__tasks-type-checkbox-label{
    margin-left: 1rem;
    font-size: 1.1rem;
}

.tasks-types-settings-group .tasks-types-settings-group__tasks-type-checkbox{
    width: 2rem;
    height: 2rem;
}