.simple-item-choose-panel{
    padding: 2rem;
}

.simple-item-choose-panel__grid-item-wrap{
    padding: 4rem;
}

.simple-item-choose-panel__item{
    padding: 1.5rem 2.5rem;
    user-select: none;
    cursor: pointer;
    width: 40rem;
}

.simple-item-choose-panel__item-content-wrap{
    overflow: hidden;
}

.simple-item-choose-panel__item:active{
    box-shadow: inset 0 0.3rem 0.5rem rgba(0,0,0,.125);
    background-color: #2196f3;
}

.simple-item-choose-panel__no-items-text{
    font-size: 3rem;
    text-align: center;
    padding: 3rem;
}