.assistant-navigation-panel{
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 2.25rem #9da5ab;
}

.assistant-navigation-panel__titles{
    float: left;
}

.assistant-navigation-panel__control-button{
    height: 100%;
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.5s ease-in-out;
}

.assistant-navigation-panel__go-back-button{
    float: left;
    border-right: 0.3rem solid #f9f9f9;
}

.assistant-navigation-panel__go-back-button--invisible{
    width: 0;
    opacity: 0
}

.assistant-navigation-panel__reload-button{
    position: absolute;
    top: 0;
    right: 0;
    border-left: 0.3rem solid #f9f9f9;
}

.assistant-navigation-panel__control-button:active{
    box-shadow: inset 0 0.3rem 0.5rem rgba(0,0,0,.125);
}

.assistant-navigation-panel .assistant-navigation-panel__control-button .assistant-navigation-panel__control-button-icon{
    font-size: 8rem;
}

.assistant-navigation-panel__control-button-text{
    font-size: 1.4rem;
}

.assistant-navigation-panel__titles{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 5rem;
}

.assistant-navigation-panel__title{
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
}

.assistant-navigation-panel__title--active{
    font-size: 3.3rem;
    margin-bottom: 0.5rem;
}

.assistant-navigation-panel__title--invisible{
    font-size: 0;
}
